body {
    width: 100%;
    min-width: 300px;
    font-size: 90%
}

.Logo_Header_ {
    width: 130px;
    height: 130px;
}
form{
	 /*Refaire media queriees avec form reduire la taille attributs  */
	 /*faire taaille fform et adapter au blocck 70%*/
    width: 100%;
    min-width: 300px;
	}





#pseudo,
#mail,
#mdp,
#Cmdp {
    display: flex; 
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    /*position: relative;
    left: 9.5%;*/
    height: 30px;
    border-radius: 20px;
    border: 2px outset rgb(0, 110, 255);
    transition-property: border;
    transition-duration: 1s;
    font-size:115%;
}
input:focus {
    box-shadow: inset 0px 0px 5px black;
    outline: none;
}



#pseudo:focus,
#mail:focus,
#mdp:focus,
#Cmdp:focus {
    border: 2px outset rgb(255, 230, 0);
    transition: border 0.5s ease-in-out;
}

.label_mail, .label_com {
    display: flex;
    margin-left: 10%;
    margin-right: 0;
    /*position: relative;
    left: 9.5%;*/
    margin-bottom: 1.5%;
    margin-top: 2.5%;
    font-family: sans-serif;
    font-size: 120%;
    text-shadow: 0px 0px 3px white;
    font-style: italic;
}

.Bloc_Bt {
    background-color: rgb(169, 169, 169, 0.3);
    width: 70%;
    max-width: 26.5cm;
    min-height: 18cm;
    margin: 0 auto;
    border-radius: 50px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
    transition-property: box-shadow;
    transition-duration: 1s;
}

.Bloc_Bt:hover {
    box-shadow: 10px 5px 5px rgb(0, 0, 0, 0.7);
    transition: box-shadow 0.5s ease-in-out;
}

	
	

.send {
    position: relative;
    left: 40.5%;
    font-size: 200%;
    font-family: "Titre";

    
}

#back {
    position: relative;
    font-family: "Titre";
    left: -40.5%;
    font-size: 200%;
    margin-bottom: 3%;
    

    
    
}

.bt_title {
    font-family: "Titre";
     text-shadow: 0px 1px 5px rgb(24, 159, 238) ; 
    
    font-size: 400%;
}
.align{
    position: relative;
    left: 0%;
    margin-top: 2%;
    
}

#confidentiality{
    font-size: 120%;
    margin-bottom: 2%;

}

input[type="checkbox"].confidentiality {
    display: none;
  }
  input[type="checkbox"].confidentiality+ label {
    box-sizing: border-box;
    display: inline-block;
    width:65px;
    height:29px;
    border-radius: 1.5rem;
    padding:2px;
    background-color: #a8b4c0 ;
    transition: all 0.5s ;
  }
input[type="checkbox"].confidentiality + label::before {
    box-sizing: border-box;
    display: block;
    content: "";
    height: 25px;
    width:25px ;
    border-radius: 50%;
    background-color: #fff;
    background-image:url("../Image/Mini_Logo.jpg");
    background-attachment: scroll;
    transition: all 0.5s ;
  }
  input[type="checkbox"].confidentiality:checked + label {
    background-color: #0088ff ;
  }
  input[type="checkbox"].confidentiality:checked + label::before {
    margin-left: 36px ;
  }
  input[type="checkbox"].confidentiality:invalid + label {
    box-shadow: 5px 0px 20px red;
  }
 
.sous_texte{
    color: rgb(0, 132, 255);
    width: 200px;
    min-width:  200px;
    background-color:white;
    font-size: 18px;
    border-radius: 105px;
    transition:transform 0.5s,background-color 0.5s, border-radius 0.7s;  ;

    
}

.lien_newpage{
    display:block;
    width:200px;
    min-width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.sous_texte:hover{    
    background-color:rgb(0, 132, 255);
    color: rgb(255, 255, 255);    
    border-radius: 5px;
    transform:scale(1.2);
    transition:cubic-bezier(0.77, 0, 0.175, 1) transform 0.5s, background-color 0.5s, border-radius 0.7s ;
    

    
}

@keyframes OmbreAnimate {
    0% {
        transform:scale(1);
        transition:transform 500ms;
    }
    12.5% {
        transform:scale(1.01);
        transition:transform 500ms;


    }
    25% {
        transform:scale(1.02);
        transition:transform 500ms;


    }
    37.5% {
        transform:scale(1.03);
        transition:transform 500ms;


    }
    
    50% {
        transform:scale(1.04);
        transition:transform 500ms;
        



    }
    62.5% {
        transform:scale(1.03);
        transition:transform 500ms;


    }
    75% {
        transform:scale(1.02);
        transition:transform 500ms;


    }
    87.5% {
        transform:scale(1.01);
        transition:transform 500ms;


    }
    100% {
        transform:scale(1.0);
        transition:transform 500ms;

    }
}


.mail_verif, .pseudo_verif, .mdp_verif, .cmdp_verif{
    display: block;
    visibility: hidden;
    animation-name: OmbreAnimate;
    animation-duration: 1.0s;
    animation-iteration-count: infinite;
    color:red;
    


}

#dverif{
    animation-name: OmbreAnimate;
    animation-duration: 1.0s;
    animation-iteration-count: infinite;
    color: red;    
    


}















