#com_c{
    display:none;
}

#creation_c{
    display:none;
}

#title_com{
    display:block;
    margin: 0 auto;
}

.Bloc_Bt_com {

    background-color: rgb(169, 169, 169, 0.3);
    width: 90%;
    min-height: 18cm;
    /* max-height: 18cm; */
    margin: 0 auto;
    margin-top: 1%;
    border-radius: 50px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
    transition-property: box-shadow;
    transition-duration: 1s;
}

.Bloc_Bt_com:hover {
    box-shadow: 10px 5px 5px rgb(0, 0, 0, 0.7);
    transition: box-shadow 0.5s ease-in-out;
}
#footer_bloc{
    margin-top:16cm;
}
.first_step{
    margin-top:30px;
}
#title_com{
    padding: 10px;
}