@font-face {
    font-family: 'Titre';
    src: url('../Titre.otf') format('OpenType');
}
@font-face {
    font-family: 'bt_font';
    src: url('../bt_font.ttf') format('truetype');
}
body::-webkit-scrollbar {
    width: 10px; /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.24); /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(82, 82, 82); /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    
  }

.Logo_Header_footer{
    float: left;
    margin-top: 2%;
    width: 130px;
    height: 130px;
}

a{
    text-decoration: none;
}
.txt-1{
    text-shadow: 10px 10px 30px rgb(0, 0, 0);

}



html,
body {
    background-image: url("../Image/Drip2.jpg");
    min-width: 1900px;
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-size: cover;
    text-align: center;
    padding: 0;
    margin: 0;
    word-wrap: break-word;
}
pre{white-space: pre-wrap;}

h1.cot {
    font-family: "Titre";
    text-shadow: 0px 1px 5px rgb(24, 159, 238) ; 
    font-size: 450%;
    transition: text-shadow 0.5s ;

}

.Inscription {
    font-size: 150%;
    position: relative;
    left: 5%;
}

.Connexion {
    font-size: 150%;
    position: relative;
    right: 5%;
}

.esport {
    width:650px;
    margin-top: 15ch;
    margin-left: 15%;
    float: left;   
    
    
}

.Content_photo {
    
    max-width: 37%;
    margin-top: 12ch;
    float: right;
    margin-right: 5%;
    
}

.Make {
    margin-left: 5%;
    margin-top: 13ch;
    float:left;
}

p {
    font-size: 110%;
    font-family: sans-serif; 
}
.separation{
    display:grid;
    grid-template-columns: auto auto;
    grid-gap:10px;
    margin: 0 auto;
    box-sizing: border-box;
    width:100%;
    max-width: 1900px;
    height: auto;
    padding: 10px;

}


.separation2 {
    margin-bottom: 10%;
}





h2 {
    
    font-size: 300%;
    font-family: "Titre";
    text-shadow: 0px 1px 5px rgb(24, 159, 238);
    transition: text-shadow 0.7s ;

}

@keyframes clignote {
    0% {
        box-shadow: 0px 0px 10px #3700ff;
    }
    
    50% {
        box-shadow: 0px 0px 2px #1900ff;
    }
    100% {
        box-shadow: 0px 0px 10px #0400ff;
    }
}

.Connexion,
.Inscription {
    font-family: "Titre";
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-shadow: 0 1px 0 white;
    border-radius: 10px;
    padding: 5px 10px;
    border: 1px outset rgb(0, 119, 255);
    /* box-shadow: 0px 0px 10px #4183C4; */
    
    /* animation-name: clignote;
    animation-duration: 0.5s;
    animation-iteration-count: infinite; */
    font-size: 500%;
}

.Connexion:hover,
.Inscription:hover {
    background-color: black;
    color: aliceblue;
    transition: margin-right 2s, color 1s;
    ;
}

.Conf:active,
.Inscription:active,
.Connexion:active {
    transform: scale(1.03);
}

.Fond {
    background-color: rgba(255, 255, 255,0.7);
    width: auto;
    height: 90ch;
}

.Fond-Secondaire {
    background-color: rgb(235, 235, 235,0.7);
    width: auto;
    height: 90ch;
}
.Fond_foot{
    background-color: rgba(255, 255, 255,0.7);
    width: auto;
    height: 100ch;

}

footer {
    width: 100%;
    height: 200px;
    background-color: rgb(43, 43, 43);
}

.meet {
    float: left;
    margin-top: 10ch;
    margin-left: 5%;
    max-width:40%;
}
.Meeting{
    margin-right: 10%;
    margin-top: 13ch;
    float:right;

}


.NewDrip {
    display: inline-block;
    vertical-align: bottom;
}
.Drip{
    display:flex;
    width: 22%;
    margin-left: 38%;
    
    
}

form {
    display: inline-block;
}



.Jstransit {
    opacity: 0;
    transform:translateX(-30px);
    
}

.Jstransit-appear {
    opacity: 1;
    transform:translate(0px);
    transition: transform 1.5s , opacity  1.5s;
    
    
    
    
    
}

.Jstransit2 {
    opacity: 0;
    transform:translateY(30px);
    
}

.Jstransit2-appear {
    opacity: 1;
    transform:translate(0px);
    transition: transform 1.5s , opacity  1s;
    
    
    
    
    
}
/*.align_maxwidth{

}*/






@media all and (max-width: 1300px){
    .background_adapt{
        background-image: url("../Image/Drip3.jpg");
        background-repeat: no-repeat; 
        background-attachment:scroll;
        background-size: cover;
    }
    
}




@media all and (max-width: 1750px) { 
    
    .separation{
        flex-direction:column ;
        height: auto;
    }
    
    
}
/*

@media all and (max-width: 1150px) {
    
    .cot {
        font-size: 340%;
        text-shadow: 0 4px 0 #00ecff, 0 -4px 0 #ff4045;
    }
    .cot:hover {
        text-shadow: 0 4px 0 #ff4045, 0 -4px 0 #00ecff;
    }
    h2:hover {
        text-shadow: 0 2px 0 #ff4045, 0 -2px 0 #00ecff;
    }
    h2 {
        font-size: 180%;
        text-shadow: 0 2px 0 #00ecff, 0 -2px 0 #ff4045;
    }
    p {
        font-size: 100%;
    }
    .separation,
    .Make,
    .Meeting {
        margin-top: 7.5%;
        left: 0%;
        right: 0%;
    }
    .esport {
        width: 40%;
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 13.5%;
    }
    .Content_photo {
        width: 37%;
        margin-top: 15.5%;
        margin-left: 0%;
        margin-right: 0%;
    }
    .meet {
        width: 32%;
        margin-top: 18.5%;
        margin-left: 0%;
        margin-right: 0%;
    }
    .Drip {
        width: 22%;
        left: 0%;
        right: 0%;
    }
    .Inscription,
    .Connexion {
        font-size: 400%;
    }
    
}

@media all and (max-width: 1050px) {
    
    .cot {
        font-size: 340%;
        text-shadow: 0 4px 0 #00ecff, 0 -4px 0 #ff4045;
    }
    .cot:hover {
        text-shadow: 0 4px 0 #ff4045, 0 -4px 0 #00ecff;
    }
    h2:hover {
        text-shadow: 0 1px 0 #ff4045, 0 -1px 0 #00ecff;
    }
    h2 {
        font-size: 120%;
        text-shadow: 0 1px 0 #00ecff, 0 -1px 0 #ff4045;
    }
    p {
        font-size: 100%;
    }
    .separation,
    .Meeting {
        position: relative;
        right: 0%;
        margin-right: 0%;
        margin-left: 0%;
        display: block;
    }
    .esport {
        width: 40%;
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 2.5%;
    }
    .Content_photo {
        display: block;
        width: 37%;
        margin-top: 2.55%;
        margin-left: 30%;
        margin-right: 0%;
    }
    .Make {
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 5%;
    }
    .meet {
        width: 32%;
        margin-top: 5.5%;
        margin-left: 0%;
        margin-right: 0%;
    }
    .Drip {
        width: 22%;
        left: 0%;
        right: 0%;
    }
    .Inscription,
    .Connexion {
        font-size: 400%;
        
    }
    
}


@media all and (max-width: 800px) {
    .cot {
        font-size: 320%;
        text-shadow: 0 3px 0 #00ecff, 0 -3px 0 #ff4045;
    }
    .cot:hover {
        text-shadow: 0 3px 0 #ff4045, 0 -3px 0 #00ecff;
    }
    h2:hover {
        text-shadow: 0 1px 0 #ff4045, 0 -1px 0 #00ecff;
    }
    h2 {
        font-size: 120%;
        text-shadow: 0 1px 0 #00ecff, 0 -1px 0 #ff4045;
    }
    p {
        font-size: 90%;
    }
    .separation,
    .Meeting {
        margin-right: 0%;
        margin-left: 0%;
        display: block;
    }
    .esport {
        width: 48%;
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 6.5%;
    }
    .Content_photo {
        display: block;
        width: 48%;
        margin-top: 1.55%;
        margin-left: 30%;
        margin-right: 0%;
    }
    .meet {
        width: 48%;
        margin-top: 8.5%;
        margin-left: 0%;
        margin-right: 0%;
    }
    .Drip {
        width: 22%;
        left: 0%;
        right: 0%;
    }
    .Inscription,
    .Connexion {
        font-size: 275%;
    }
}

@media all and (max-width: 520px) {
    
    
    .cot {
        font-size: 275%;
        text-shadow: 0 3px 0 #00ecff, 0 -3px 0 #ff4045;
    }
    .cot:hover {
        text-shadow: 0 3px 0 #ff4045, 0 -3px 0 #00ecff;
    }
    h2:hover {
        text-shadow: 0 1px 0 #ff4045, 0 -1px 0 #00ecff;
    }
    h2 {
        font-size: 110%;
        text-shadow: 0 1px 0 #00ecff, 0 -1px 0 #ff4045;
    }
    p {
        font-size: 80%;
    }
    .separation,
    .Meeting {
        margin-right: 0%;
        margin-left: 0%;
        display: block;
    }
    .esport {
        width: 65%;
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 13.5%;
    }
    .Content_photo {
        display: block;
        width: 65%;
        margin-top: 1.55%;
        margin-left: 20%;
        margin-right: 0%;
    }
    .meet {
        width: 65%;
        margin-top: 15.5%;
        margin-left: 0%;
        margin-right: 0%;
    }
    .Drip {
        width: 22%;
        left: 0%;
        right: 0%;
    }
    .Inscription,
    .Connexion {
        font-size: 200%;
    }
    .Make {
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 10%;
    }
}

@media all and (max-width: 400px) {
    
    } */

